{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>Group Members: Caleb Wheeler</h2>
        <p>
            This project is a makeup shopping app that uses the Heroku Makeup 
            API in order to list at set of offerings to the user. It contains
            a system to filter shopping option, a system to like and save products,
            and a system for getting makeup recommendations based on skin color
            when a user uploads a photo.
        </p>
    </div>
</div>

{% endblock %}